body {
  position: relative;
  margin: 0;
  min-height: 100%;
  font-family: Poppins;
  color: #424B54;
  background: #A3BAC3;
  padding-bottom: 11rem;
}
h1, h2, h3, span{
  margin:0;
} 

h1{
  font-size:16rem;
}
h2{
  font-size:3rem;
}
h3{
  font-size:1.4rem;
}
span{
  font-size: 6rem;
}
.container {
  padding: 25px 5px;
  background-color: #F2F3F4;
  width: 90%;
  max-width: 400px;
  margin-top: 20px;
  border: 3px solid #A9DD9B;
  display: grid;
  grid-template=rows;20% 80;
  text-align: center;
  margin: 0 auto;
}

.degrees{
  display: inline-block;
  vertical-align: middle;
  float: none;
  display: grid;
  grid-template-columns:auto auto;
  justify-content: center;
  margin-left:2rem;
}

.textcontainer{
  display: grid;
  grid-template-columns:auto auto; 
}
.panel {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2rem 0rem;
  text-align: center;
  font-size: 20px;
  background-color : #A9DD9B;}
.description{
  font-size: 3rem;
  font-style: oblique;
  font-variant: small-caps;
  
}
.note{
  font-size:0.7rem;
  
}